@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quiz Clash</h1>
    <p class="lead">Let's play</p>
</div>

<button onclick="window.location.href='@Url.Action("Single//1","Questions")'">Play</button>